function Memory.theinit 0
push constant 2048
pop static 0
push constant 16483
pop static 1
push static 1
push static 0
sub
pop static 3
push static 0
pop static 2
push static 3
push constant 0
call LinkedList.new 2
pop static 4
push constant 0
return
function Memory.peek 0
push constant 1
return
function Memory.poke 0
push constant 0
return
function Memory.alloc 0
push constant 1
return
function Memory.deAlloc 0
push constant 0
return
